# service node type, [DN|CN|LOG]
service-type = "CN"

[log]
level = "debug"
format = "json"
max-size = 512


[hakeeper-client]
service-addresses = [
    "127.0.0.1:32001",
    "127.0.0.1:32011",
    "127.0.0.1:32021",
]

[[fileservice]]
name = "LOCAL"
backend = "MEM"

[[fileservice]]
name = "SHARED"
backend = "MEM"

[[fileservice]]
name = "ETL"
backend = "DISK-ETL"
data-dir = "mo-data/local/etl"

[cn]
uuid = "dd1dccb4-4d3c-41f8-b482-5251dc7a41bf"
listen-address = "127.0.0.1:3307"
role = "TP"
turn-on-push-model = false

[cn.Engine]
type = "memory"

[observability]
statusPort = 9001

[cn.txn]
enable-sacrificing-freshness = false
enable-cn-based-consistency = true

