# https://docs.docker.com/engine/reference/builder/#dockerignore-file

# macOS
.DS_Store

# Visual Studio Code
.vscode/
.devcontainer/

# JetBrains
.idea/

# generate files
mo-service
mo-server
gen_config
store/
mo-data/

# cgo compiler files linked system lib, so ignore it
**/*.o
**/*.a

# go 
vendor/

# bvt generate files
test/distributed/resources/into_outfile/outfile_*.csv
test/distributed/resources/into_outfile_2/outfile_*.csv
test/distributed/resources/json/export_*.csv

#make compose bvt generate files
docker-compose-log/

