.idea/
*.swp
bin/
y.go
*.output
**/.DS_Store
**/cover.out
.vscode
*.iml
tags
system_vars_config.toml
coverage.txt
vendor/
gen_config
main
mo-server
cube*/
store/
pkg/catalog/test/
pkg/config/system_vars.go
pkg/config/system_vars_test.go
pkg/vm/driver/test/test/
pkg/vm/engine/aoe/engine/test/
pkg/sql/colexec/extend/overload/*.go 
!pkg/sql/colexec/extend/overload/binary.go 
!pkg/sql/colexec/extend/overload/multi.go 
!pkg/sql/colexec/extend/overload/overload.go 
!pkg/sql/colexec/extend/overload/overloadGenerate.go 
!pkg/sql/colexec/extend/overload/types.go 
!pkg/sql/colexec/extend/overload/unary.go
!pkg/sql/colexec/extend/overload/init.go
pkg/vm/engine/tpe/tuplecodec/clusterstore
pkg/vm/engine/tpe/tuplecodec/read_profile
pkg/vm/engine/tpe/engine/read_profile
!pkg/vectorize/bin