.idea/
*.o
*.a
*.exe
*.lib
*.swp
bin/
y.go
*.output
**/.DS_Store
**/cover.out
.vscode
*.iml
tags
coverage.txt
out.txt
vendor/
gen_config
main
/mo-server
/mo-service
/mo-dump
cube*/
store/
mo-data/
node-*-data/
pkg/catalog/test/
pkg/config/system_vars.go
pkg/config/system_vars_test.go
path_to_file
test/resources/into_outfile/outfile_float_2.csv
test/resources/into_outfile/outfile_integer_numbers_1.csv
test/resources/into_outfile/outfile_time_date_2.csv
test/resources/into_outfile/outfile_uuid.csv
test/resources/into_outfile_2/outfile_float_2.csv
test/resources/into_outfile_2/outfile_integer_numbers_1.csv
test/resources/into_outfile_2/outfile_time_date_2.csv
test/resources/json/export_1.csv
test/resources/json/export_2.csv
