.idea/
*.o
*.a
*.swp
bin/
y.go
*.output
**/.DS_Store
**/cover.out
.vscode
*.iml
tags
system_vars_config.toml
coverage.txt
vendor/
gen_config
main
mo-server
cube*/
store/
pkg/catalog/test/
pkg/config/system_vars.go
pkg/config/system_vars_test.go
