# default owner for stuff that is not explicitly set for ownership
# for triage only

# github and CI-related stuff
.github @fengttt
.github/actions @fengttt
.github/workflow @fengttt

# files under the top-level directory
/*.yml @fengttt
/*.yaml @fengttt
/.gitignore @fengttt @XuPeng-SH
/.dockerignore @fengttt @XuPeng-SH
/Makefile @XuPeng-SH
/README.md @XuPeng-SH
/README_CN.md @XuPeng-SH
/LICENSE @fengttt
/CODEOWNERS @fengttt @XuPeng-SH
/CODE_OF_CONDUCT.md @fengttt @XuPeng-SH
/go.mod @XuPeng-SH
/go.sum @XuPeng-SH

# Top-level folders
/cgo @aunjgr
/docs @fengttt @XuPeng-SH
/etc @XuPeng-SH
/optools @fengttt @XuPeng-SH
/pkg @fengttt @XuPeng-SH
/proto @XuPeng-SH
/cmd @XuPeng-SH
/test @heni02

# cmd
/cmd/mo-service @XuPeng-SH

/pkg/backup @LeftHandCold

/pkg/datasync @LeftHandCold

# subdirectory of pkg
# pkg/catalog
/pkg/catalog @XuPeng-SH

#pkg/cdc
/pkg/cdc @jiangxinmeng1

# pkg/cnservice
/pkg/cnservice @XuPeng-SH

/pkg/cacheservice @aptend

/pkg/clusterservice @aptend

/pkg/common @XuPeng-SH
/pkg/common/mpool @XuPeng-SH
/pkg/common/malloc @XuPeng-SH
/pkg/common/spool @ouyuanning @aunjgr
/pkg/common/async @XuPeng-SH
/pkg/common/bitmap @aunjgr
/pkg/common/hashmap @aunjgr
/pkg/common/moerr @XuPeng-SH
/pkg/common/morpc @XuPeng-SH
/pkg/common/moprobe @fengttt
/pkg/common/stopper @XuPeng-SH
/pkg/common/runtime @XuPeng-SH
/pkg/common/log @XuPeng-SH
/pkg/common/reuse @XuPeng-SH

# pkg/compare
/pkg/compare @aunjgr

# pkg/compress
/pkg/compress @aunjgr

# pkg/config
/pkg/config @fengttt @XuPeng-SH

# pkg/container
/pkg/container @XuPeng-SH
/pkg/container/vector @aunjgr @XuPeng-SH
/pkg/container/pSpool @aunjgr @ouyuanning

# pkg/defines
/pkg/defines @XuPeng-SH

# pkg/embed
/pkg/embed @XuPeng-SH

# pkg/tnservice
/pkg/tnservice @XuPeng-SH

# pkg/fileservice
/pkg/fileservice @XuPeng-SH @fengttt

/pkg/frontend @XuPeng-SH

# pkg/hakeeper
/pkg/hakeeper @volgariver6 @aptend

# pkg/incrservice
/pkg/incrservice @gouhongshen

# pkg/lockservice
/pkg/lockservice @iamlinjunhong

# pkg/shardservice
/pkg/shardservice @iamlinjunhong

# pkg/partitionservice
/pkg/partitionservice @iamlinjunhong

# pkg/logservice
/pkg/logservice @volgariver6 @LeftHandCold

# pkg/logutil
/pkg/logutil @XuPeng-SH

# pkg/objectio
/pkg/objectio @LeftHandCold @XuPeng-SH

# pkg/partition
/pkg/partition @aunjgr @iamlinjunhong

# folders under pkg/pb contain code generated by pb, owners will be responsible
# for compatibility issues required for rolling upgrade.
/pkg/pb @XuPeng-SH
/pkg/pb/logservice @XuPeng-SH
/pkg/pb/metadata @XuPeng-SH
/pkg/pb/metric @aptend
/pkg/pb/pipeline @ouyuanning @aunjgr
/pkg/pb/plan @ouyuanning @aunjgr
/pkg/pb/timestamp @XuPeng-SH
/pkg/pb/txn @iamlinjunhong

# pkg/perfcounter
/pkg/perfcounter @XuPeng-SH

# pkg/sort
/pkg/sort @aunjgr

# pkg/bootstrap
/pkg/bootstrap @XuPeng-SH @LeftHandCold

# pkg/sql
/pkg/sql @aunjgr
/pkg/sql/colexec @ouyuanning @aunjgr
/pkg/sql/compile @ouyuanning @aunjgr
/pkg/sql/models @XuPeng-SH
/pkg/sql/parsers @iamlinjunhong
/pkg/sql/plan @ouyuanning @aunjgr
/pkg/sql/plan/function @ouyuanning @aunjgr
/pkg/sql/plan/explain @ouyuanning @aunjgr
/pkg/sql/plan/tools @XuPeng-SH
/pkg/sql/colexec/indexjoin @aunjgr
/pkg/sql/colexec/indexbuild @aunjgr
/pkg/sql/colexec/intersect @aunjgr
/pkg/sql/colexec/intersectall @aunjgr
/pkg/sql/colexec/loopanti @aunjgr
/pkg/sql/colexec/loopjoin @aunjgr
/pkg/sql/colexec/loopleft @aunjgr
/pkg/sql/colexec/loopmark @aunjgr
/pkg/sql/colexec/loopsingle @aunjgr
/pkg/sql/colexec/right @aunjgr
/pkg/sql/colexec/rightanti @aunjgr
/pkg/sql/colexec/rightsemi @aunjgr
/pkg/sql/colexec/anti @aunjgr
/pkg/sql/colexec/single @aunjgr
/pkg/sql/colexec/mark @aunjgr
/pkg/sql/colexec/semi @aunjgr
/pkg/sql/colexec/join @aunjgr
/pkg/sql/colexec/hashbuild @aunjgr
/pkg/sql/colexec/left @aunjgr
/pkg/sql/colexec/shuffle @aunjgr
/pkg/sql/colexec/shuffleV2 @aunjgr
/pkg/sql/colexec/shufflebuild @aunjgr
/pkg/sql/colexec/multi_update @ouyuanning

# pkg/taskservice
/pkg/taskservice @XuPeng-SH

# pkg/tests
/pkg/tests @XuPeng-SH
/pkg/tests/service @XuPeng-SH
/pkg/tests/txn @iamlinjunhong

# pkg/testutil
/pkg/testutil @XuPeng-SH

# pkg/txn
/pkg/txn @iamlinjunhong XuPeng-SH
/pkg/txn/storage/memorystorage @XuPeng-SH

# pkg/util
/pkg/util @XuPeng-SH
/pkg/util/internalExecutor @aptend
/pkg/util/metric @aptend @xzxiong
/pkg/util/toml @XuPeng-SH
/pkg/util/trace @xzxiong @aptend
/pkg/util/export @xzxiong @aptend
/pkg/util/metric/v2 @aptend @XuPeng-SH
/pkg/util/fault @XuPeng-SH

# pkg/vectorize
/pkg/vectorize @aunjgr

# engines and engine related stuff
/pkg/vm @XuPeng-SH
/pkg/vm/engine @XuPeng-SH
/pkg/vm/pipeline @ouyuanning @aunjgr
/pkg/vm/process @aunjgr @XuPeng-SH
/pkg/vm/message @aunjgr
/pkg/vm/engine/disttae @XuPeng-SH @gouhongshen
/pkg/vm/engine/disttae/logtailreplay @XuPeng-SH @gouhongshen
/pkg/vm/engine/tae @XuPeng-SH
/pkg/vm/engine/memoryengine @XuPeng-SH
/pkg/vm/engine/tae/logtail/service @XuPeng-SH @aptend
/pkg/vm/engine/tae/logstore @XuPeng-SH @jiangxinmeng1
/pkg/vm/engine/tae/wal @XuPeng-SH @jiangxinmeng1
/pkg/vm/engine/tae/blockio @XuPeng-SH @LeftHandCold


# proxy
/pkg/proxy @gouhongshen @volgariver6

/pkg/stream @fengttt

/pkg/udf @XuPeng-SH @fengttt

/pkg/version @aptend

# /proto contains pb definitions, owners will be responsible
# for compatibility issues required for rolling upgrade.
/proto/logservice.proto @XuPeng-SH
/proto/metadata.proto @XuPeng-SH
/proto/metric.proto @aptend
/proto/pipeline.proto @ouyuanning @aunjgr
/proto/plan.proto @aunjgr
/proto/timestamp.proto @XuPeng-SH
/proto/txn.proto @iamlinjunhong
/proto/api.proto @XuPeng-SH
/proto/logtail.proto @XuPeng-SH
/proto/shard.proto @iamlinjunhong
