# default owner for stuff that is not explicitly set for ownership
# for triage only

# github and CI-related stuff
.github @fengttt @XuPeng-SH
.github/actions @fengttt @XuPeng-SH
.github/workflow @fengttt @XuPeng-SH

# files under the top-level directory
/*.yml @fengttt @XuPeng-SH
/*.yaml @fengttt @XuPeng-SH
/.gitignore @fengttt @XuPeng-SH
/.dockerignore @fengttt @XuPeng-SH
/Makefile @XuPeng-SH
/README.md @XuPeng-SH
/README_CN.md @XuPeng-SH
/LICENSE @fengttt
/CODEOWNERS @fengttt
/CODE_OF_CONDUCT.md @fengttt
/go.mod @XuPeng-SH
/go.sum @XuPeng-SH

# Top-level folders
/cgo @aunjgr @XuPeng-SH
/docs @fengttt @XuPeng-SH
/etc @XuPeng-SH
/optools @fengttt @XuPeng-SH
/pkg @fengttt @XuPeng-SH
/proto @aptend @XuPeng-SH
/cmd @XuPeng-SH @aptend
/test @XuPeng-SH @LeftHandCold @aptend
/clients @XuPeng-SH @aptend

# cmd
/cmd/mo-service @XuPeng-SH

/pkg/tools @XuPeng-SH @aptend
/pkg/backup @LeftHandCold @XuPeng-SH

/pkg/datasync @LeftHandCold @XuPeng-SH

# subdirectory of pkg
# pkg/catalog
/pkg/catalog @XuPeng-SH @aptend

#pkg/cdc
/pkg/cdc @jiangxinmeng1 @aptend

#pkg/iscp
/pkg/iscp @XuPeng-SH

# pkg/cnservice
/pkg/cnservice @XuPeng-SH @aptend

/pkg/cacheservice @XuPeng-SH @aptend

/pkg/clusterservice @XuPeng-SH @aptend

# pkg/common @fengttt
/pkg/common @XuPeng-SH
/pkg/common/mpool @XuPeng-SH
/pkg/common/malloc @XuPeng-SH
/pkg/common/spool @aunjgr @aptend @XuPeng-SH
/pkg/common/async @XuPeng-SH @aptend
/pkg/common/bitmap @aunjgr @XuPeng-SH @aptend
/pkg/common/hashmap @aunjgr @XuPeng-SH @aptend
/pkg/common/moerr @XuPeng-SH @aptend
/pkg/common/morpc @XuPeng-SH @aptend
/pkg/common/moprobe @fengttt @XuPeng-SH
/pkg/common/stopper @XuPeng-SH @aptend
/pkg/common/runtime @XuPeng-SH @aptend
/pkg/common/log @XuPeng-SH @aptend
/pkg/common/reuse @XuPeng-SH @aptend

# pkg/compare
/pkg/compare @aunjgr @XuPeng-SH @aptend

# pkg/compress
/pkg/compress @aunjgr @XuPeng-SH @aptend

# pkg/config
/pkg/config @fengttt @XuPeng-SH @aptend

# pkg/container
/pkg/container @XuPeng-SH
/pkg/container/vector @aunjgr @XuPeng-SH
/pkg/container/pSpool @aunjgr @iamlinjunhong @XuPeng-SH

# pkg/defines
/pkg/defines @XuPeng-SH

# pkg/embed
/pkg/embed @XuPeng-SH

# pkg/tnservice
/pkg/tnservice @XuPeng-SH @aptend

# pkg/fileservice
/pkg/fileservice @fengttt @XuPeng-SH @LeftHandCold

# pkg/frontend
/pkg/frontend @XuPeng-SH

# pkg/hakeeper
/pkg/hakeeper @XuPeng-SH @LeftHandCold

# pkg/incrservice
/pkg/incrservice @XuPeng-SH @gouhongshen

# pkg/lockservice
/pkg/lockservice @iamlinjunhong @XuPeng-SH @aptend

# pkg/shardservice
/pkg/shardservice @iamlinjunhong @XuPeng-SH @aptend

# pkg/partitionservice
/pkg/partitionservice @iamlinjunhong @XuPeng-SH @aptend

# pkg/logservice
/pkg/logservice @LeftHandCold @XuPeng-SH

# pkg/logutil
/pkg/logutil @XuPeng-SH

# pkg/objectio
/pkg/objectio @LeftHandCold @XuPeng-SH

# pkg/partition
/pkg/partition @aunjgr @iamlinjunhong @XuPeng-SH

# folders under pkg/pb contain code generated by pb, owners will be responsible
# for compatibility issues required for rolling upgrade.
/pkg/pb @XuPeng-SH @aptend
/pkg/pb/logservice @LeftHandCold @XuPeng-SH
/pkg/pb/metadata @XuPeng-SH @aptend
/pkg/pb/metric @aptend
/pkg/pb/pipeline @XuPeng-SH @aunjgr @aptend
/pkg/pb/plan @XuPeng-SH @aunjgr @aptend
/pkg/pb/timestamp @XuPeng-SH
/pkg/pb/txn @iamlinjunhong @XuPeng-SH @aptend

# pkg/perfcounter
/pkg/perfcounter @XuPeng-SH

# pkg/sort
/pkg/sort @aunjgr @XuPeng-SH

# pkg/bootstrap
/pkg/bootstrap @LeftHandCold @XuPeng-SH

# pkg/sql
/pkg/sql @aunjgr @XuPeng-SH
/pkg/sql/colexec @XuPeng-SH @aunjgr @aptend
/pkg/sql/compile @XuPeng-SH @aunjgr @aptend
/pkg/sql/models @aptend @XuPeng-SH
/pkg/sql/parsers @iamlinjunhong @XuPeng-SH
/pkg/sql/plan @XuPeng-SH @aunjgr @aptend
/pkg/sql/plan/function @XuPeng-SH @aunjgr @aptend
/pkg/sql/plan/explain @XuPeng-SH @aunjgr @aptend
/pkg/sql/plan/tools @gouhongshen @XuPeng-SH
/pkg/sql/colexec/indexjoin @aunjgr @XuPeng-SH @aptend
/pkg/sql/colexec/indexbuild @aunjgr @XuPeng-SH @aptend
/pkg/sql/colexec/intersect @aunjgr @XuPeng-SH @aptend
/pkg/sql/colexec/intersectall @aunjgr @XuPeng-SH @aptend
/pkg/sql/colexec/loopanti @aunjgr @XuPeng-SH @aptend
/pkg/sql/colexec/loopjoin @aunjgr @XuPeng-SH @aptend
/pkg/sql/colexec/loopleft @aunjgr @XuPeng-SH @aptend
/pkg/sql/colexec/loopmark @aunjgr @XuPeng-SH @aptend
/pkg/sql/colexec/loopsingle @aunjgr @XuPeng-SH @aptend
/pkg/sql/colexec/right @aunjgr @XuPeng-SH @aptend
/pkg/sql/colexec/rightanti @aunjgr @XuPeng-SH @aptend
/pkg/sql/colexec/rightsemi @aunjgr @XuPeng-SH @aptend
/pkg/sql/colexec/anti @aunjgr @XuPeng-SH @aptend
/pkg/sql/colexec/single @aunjgr @XuPeng-SH @aptend
/pkg/sql/colexec/mark @aunjgr @XuPeng-SH @aptend
/pkg/sql/colexec/semi @aunjgr @XuPeng-SH @aptend
/pkg/sql/colexec/join @aunjgr @XuPeng-SH @aptend
/pkg/sql/colexec/hashbuild @aunjgr @XuPeng-SH @aptend
/pkg/sql/colexec/left @aunjgr @XuPeng-SH @aptend
/pkg/sql/colexec/shuffle @aunjgr @XuPeng-SH @aptend
/pkg/sql/colexec/shufflebuild @aunjgr @XuPeng-SH @aptend
/pkg/sql/colexec/multi_update @XuPeng-SH @aptend

# pkg/taskservice
/pkg/taskservice @XuPeng-SH

# pkg/tests
/pkg/tests @XuPeng-SH
/pkg/tests/service @XuPeng-SH
/pkg/tests/txn @XuPeng-SH @iamlinjunhong @aptend

# pkg/testutil
/pkg/testutil @XuPeng-SH

# pkg/txn
/pkg/txn @iamlinjunhong @XuPeng-SH @aptend

# pkg/util
/pkg/util @XuPeng-SH
/pkg/util/internalExecutor @aptend @iamlinjunhong @aptend
/pkg/util/metric @aptend @XuPeng-SH
/pkg/util/toml @XuPeng-SH
/pkg/util/trace @gouhongshen @aptend
/pkg/util/export @gouhongshen @aptend
/pkg/util/metric/v2 @aptend @XuPeng-SH
/pkg/util/fault @XuPeng-SH

# pkg/vectorize
/pkg/vectorize @aunjgr @XuPeng-SH @aptend

# engines and engine related stuff
/pkg/vm @XuPeng-SH
/pkg/vm/engine @XuPeng-SH
/pkg/vm/pipeline @XuPeng-SH @aunjgr @aptend
/pkg/vm/process @aunjgr @XuPeng-SH @aptend
/pkg/vm/message @aunjgr @XuPeng-SH @aptend
/pkg/vm/engine/disttae @XuPeng-SH @gouhongshen
/pkg/vm/engine/disttae/logtailreplay @XuPeng-SH @gouhongshen
/pkg/vm/engine/tae @XuPeng-SH
/pkg/vm/engine/tae/logtail/service @XuPeng-SH @aptend
/pkg/vm/engine/tae/logstore @XuPeng-SH @jiangxinmeng1
/pkg/vm/engine/tae/wal @XuPeng-SH @jiangxinmeng1
/pkg/vm/engine/tae/blockio @XuPeng-SH @LeftHandCold


# proxy
/pkg/proxy @XuPeng-SH @gouhongshen

/pkg/udf @gouhongshen @fengttt @XuPeng-SH

/pkg/version @aptend @XuPeng-SH

# /proto contains pb definitions, owners will be responsible
# for compatibility issues required for rolling upgrade.
/proto/logservice.proto @XuPeng-SH
/proto/metadata.proto @XuPeng-SH
/proto/metric.proto @aptend
/proto/pipeline.proto @XuPeng-SH @aunjgr @aptend
/proto/plan.proto @aunjgr @XuPeng-SH @aptend
/proto/timestamp.proto @iamlinjunhong @XuPeng-SH
/proto/txn.proto @iamlinjunhong @XuPeng-SH
/proto/api.proto @XuPeng-SH
/proto/logtail.proto @XuPeng-SH
/proto/shard.proto @iamlinjunhong @XuPeng-SH
