build_release
build_debug
build
_deps
simsimd.egg-info
CMakeFiles
__pycache__
wheelhouse/
node_modules/
package-ci/
prebuilds/
build/
dist/
javascript/dist
bun.lockb
.build/

# for Google Benchmark
compare.py
gbench/

cmake_install.cmake
CMakeCache.txt

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# Rust crate
target/

# Swift Package Manager
.swiftpm/

# Mac OS
.DS_Store

# VS Code
.devcontainer/

# perfplot charts
*.png
