# do not change this part {
parameter-struct-name = "SystemVariables"
config-struct-name = "varsConfig"

operation-file-name = "system_vars"

config-file-name = "system_vars_config"
# }

[[parameter]]
name = "rootname"
scope = ["global"]
access = ["file"]
type = "string"
domain-type = "set"
values = ["root"]
comment = "root name"
update-mode = "fix"

[[parameter]]
name = "rootpassword"
scope = ["global"]
access = ["file"]
type = "string"
domain-type = "set"
values = [""]
comment = "root password"
update-mode = "dynamic"

[[parameter]]
name = "dumpuser"
scope = ["global"]
access = ["file"]
type = "string"
domain-type = "set"
values = ["dump"]
comment = "dump user name"
update-mode = "fix"

[[parameter]]
name = "dumppassword"
scope = ["global"]
access = ["file"]
type = "string"
domain-type = "set"
values = ["111"]
comment = "dump user password"
update-mode = "fix"

[[parameter]]
name = "dumpdatabase"
scope = ["global"]
access = ["file"]
type = "string"
domain-type = "set"
values = ["default"]
comment = "dump database name"
update-mode = "dynamic"

[[parameter]]
name = "port"
scope = ["global"]
access = ["file"]
type = "int64"
domain-type = "range"
values = ["6001", "6001", "6010"]
comment = "port"
update-mode = "dynamic"

[[parameter]]
name = "host"
scope = ["global"]
access = ["file"]
type = "string"
domain-type = "set"
values = ["localhost","127.0.0.1","0.0.0.0"]
comment = "listening ip"
update-mode = "dynamic"

[[parameter]]
name = "sendRow"
scope = ["global"]
access = ["file"]
type = "bool"
domain-type = "set"
values = []
comment = "send data row while producing"
update-mode = "dynamic"

[[parameter]]
name = "dumpEnv"
scope = ["global"]
access = ["file"]
type = "bool"
domain-type = "set"
values = []
comment = "dump Environment with memEngine Null nodes for testing"
update-mode = "dynamic"

[[parameter]]
name = "hostMmuLimitation"
scope = ["global"]
access = ["file"]
type = "int64"
domain-type = "set"
values = ["1099511627776"]
comment = "host mmu limitation. default: 1 << 40 = 1099511627776"
update-mode = "dynamic"

[[parameter]]
name = "guestMmuLimitation"
scope = ["global"]
access = ["file"]
type = "int64"
domain-type = "set"
values = ["1099511627776"]
comment = "guest mmu limitation. default: 1 << 40 = 1099511627776"
update-mode = "dynamic"

[[parameter]]
name = "mempoolMaxSize"
scope = ["global"]
access = ["file"]
type = "int64"
domain-type = "set"
values = ["1099511627776"]
comment = "mempool maxsize. default: 1 << 40 = 1099511627776"
update-mode = "dynamic"

[[parameter]]
name = "mempoolFactor"
scope = ["global"]
access = ["file"]
type = "int64"
domain-type = "set"
values = ["8"]
comment = "mempool factor. default: 8"
update-mode = "dynamic"

[[parameter]]
name = "processLimitationSize"
scope = ["global"]
access = ["file"]
type = "int64"
domain-type = "set"
values = ["42949672960"]
comment = "process.Limitation.Size. default: 10 << 32 = 42949672960"
update-mode = "dynamic"

[[parameter]]
name = "processLimitationBatchRows"
scope = ["global"]
access = ["file"]
type = "int64"
domain-type = "set"
values = ["42949672960"]
comment = "process.Limitation.BatchRows. default: 10 << 32 = 42949672960"
update-mode = "dynamic"

[[parameter]]
name = "processLimitationBatchSize"
scope = ["global"]
access = ["file"]
type = "int64"
domain-type = "set"
values = ["0"]
comment = "process.Limitation.BatchSize. default: 0"
update-mode = "dynamic"

[[parameter]]
name = "processLimitationPartitionRows"
scope = ["global"]
access = ["file"]
type = "int64"
domain-type = "set"
values = ["42949672960"]
comment = "process.Limitation.PartitionRows. default: 10 << 32 = 42949672960"
update-mode = "dynamic"

[[parameter]]
name = "countOfRowsPerSendingToClient"
scope = ["global"]
access = ["file"]
type = "int64"
domain-type = "set"
values = ["10"]
comment = "send the count of rows to the client"
update-mode = "dynamic"

[[parameter]]
name = "periodOfEpochTimer"
scope = ["global"]
access = ["file"]
type = "int64"
domain-type = "set"
values = ["5"]
comment = "the period of epoch timer in second"
update-mode = "dynamic"

[[parameter]]
name = "periodOfPersistence"
scope = ["global"]
access = ["file"]
type = "int64"
domain-type = "set"
values = ["20"]
comment = "the period of persistence in second"
update-mode = "dynamic"

[[parameter]]
name = "periodOfDDLDeleteTimer"
scope = ["global"]
access = ["file"]
type = "int64"
domain-type = "set"
values = ["20"]
comment = "the period of the ddl delete in second"
update-mode = "dynamic"

[[parameter]]
name = "timeoutOfHeartbeat"
scope = ["global"]
access = ["file"]
type = "int64"
domain-type = "set"
values = ["20"]
comment = "the timeout of heartbeat in second"
update-mode = "dynamic"

[[parameter]]
name = "rejectWhenHeartbeatFromPDLeaderIsTimeout"
scope = ["global"]
access = ["file"]
type = "bool"
domain-type = "set"
values = ["false"]
comment = "default is false. the server will reject the connection and sql request when the heartbeat from pdleader is timeout."
update-mode = "dynamic"

[[parameter]]
name = "enableEpochLogging"
scope = ["global"]
access = ["file"]
type = "bool"
domain-type = "set"
values = ["false"]
comment = "default is false. Print logs when the server calls catalog service to run the ddl."
update-mode = "dynamic"

[[parameter]]
name = "recordTimeElapsedOfSqlRequest"
scope = ["global"]
access = ["file"]
type = "bool"
domain-type = "set"
values = ["true"]
comment = "record the time elapsed of executing sql request"
update-mode = "dynamic"

[[parameter]]
name = "nodeID"
scope = ["global"]
access = ["file"]
type = "int64"
domain-type = "range"
values = ["0", "0", "10"]
comment = "the Node ID of the cube"
update-mode = "dynamic"

[[parameter]]
name = "cubeDirPrefix"
scope = ["global"]
access = ["file"]
type = "string"
domain-type = "set"
values = ["./cube"]
comment = "the root direction prefix of the cube. The actual dir is cubeDirPrefix + nodeID"
update-mode = "dynamic"

[[parameter]]
name = "prophetEmbedEtcdJoinAddr"
scope = ["global"]
access = ["file"]
type = "string"
domain-type = "set"
values = ["http://localhost:40000", "http://127.0.0.1:40000"]
comment = "the join address of prophet of the cube"
update-mode = "dynamic"

[[parameter]]
name = "maxReplicas"
scope = ["global"]
access = ["file"]
type = "int64"
domain-type = "range"
values = ["1", "1", "1"]
comment = "the number of replicas for each resource"
update-mode = "dynamic"

[[parameter]]
name = "lengthOfQueryPrinted"
scope = ["global"]
access = ["file"]
type = "int64"
domain-type = "range"
values = ["50", "-1", "10000"]
comment = "the length of query printed into console. -1, complete string. 0, empty string. >0 , length of characters at the header of the string."
update-mode = "dynamic"

[[parameter]]
name = "batchSizeInLoadData"
scope = ["global"]
access = ["file"]
type = "int64"
domain-type = "range"
values = ["40000","10","100000"]
comment = "the count of rows in vector of batch in load data"
update-mode = "dynamic"

[[parameter]]
name = "loadDataConcurrencyCount"
scope = ["global"]
access = ["file"]
type = "int64"
domain-type = "range"
values = ["16","1","16"]
comment = "default is 16. The count of go routine writing batch into the storage."
update-mode = "dynamic"

[[parameter]]
name = "cubeLogLevel"
scope = ["global"]
access = ["file"]
type = "string"
domain-type = "set"
values = ["error","info","debug","warning","warn","fatal"]
comment = "default is error. The log level for cube."
update-mode = "dynamic"

# Cluster Configs
pre-allocated-group-num = 20
max-group-num           = 0

# Logger Configs

level = "info" # debug, info, warn, error, fatal.

format = "console" # json, console.

# log file config

filename = "" # log file.

max-size = 512 # maximum log file size.

max-days = 0 # maximum log file days kept.

max-backups = 0 # maximum numbers of old log files to retain.

# Cube Configs
addr-raft = "localhost:10000"
addr-client = "localhost:20000"
dir-data = "./cube0/node"
dir-deploy = ""
version = ""
githash = ""
capacity = 0
use-memory-as-storage = false
shard-groups = 0

[replication]
    max-peer-down-time = "0s"
    shard-heartbeat-duration = "100ms"
    store-heartbeat-duration = "1s"
    shard-split-check-duration = "0s"
    shard-state-check-duration = "0s"
    disable-shard-split = false
    allow-remove-leader = false
    shard-capacity-bytes = 0
    shard-split-check-bytes = 0

[snapshot]
    max-concurrency-snap-chunks = 0
    snap-chunk-size = 0

[raft]
    enable-pre-vote = false
    tick-interval = "600ms"
    heartbeat-ticks = 0
    election-timeout-ticks = 0
    max-size-per-msg = 0
    max-inflight-msgs = 0
    max-entry-bytes = 314572800
    send-raft-batch-size = 0
    [raft.raft-log]
        disable-sync = false
        compact-duration = "0s"
        compact-threshold = 0
        max-allow-transfer-lag = 0
        ForceCompactCount = 0
        ForceCompactBytes = 0
        CompactProtectLag = 0

[worker]
    raft-apply-worker = 0
    raft-msg-worker = 0
    raft-event-workers = 0

[prophet]
    name = "node0"
    data-dir = ""
    rpc-addr = "localhost:30000"
    rpc-timeout = "0s"
    storage-node = true
    external-etcd = [""]
    lease = 0

    [prophet.embed-etcd]
        join = ""
        client-urls = "http://localhost:40000"
        peer-urls = "http://localhost:50000"
        advertise-client-urls = ""
        advertise-peer-urls = ""
        initial-cluster = ""
        initial-cluster-state = ""
        tick-interval = "0s"
        election-interval = "0s"
        enable-prevote = false
        auto-compaction-mode = ""
        auto-compaction-retention = ""
        quota-backend-bytes = 0

    [prophet.schedule]
        max-snapshot-count = 0
        max-pending-peer-count = 0
        max-merge-resource-size = 0
        max-merge-resource-keys = 0
        split-merge-interval = "0s"
        enable-one-way-merge = false
        enable-cross-table-merge = false
        patrol-resource-interval = "0s"
        max-container-down-time = "0s"
        leader-schedule-limit = 0
        leader-schedule-policy = ""
        resource-schedule-limit = 0
        replica-schedule-limit = 0
        merge-schedule-limit = 0
        hot-resource-schedule-limit = 0
        hot-resource-cache-hits-threshold = 0
        tolerant-size-ratio = 0.0
        low-space-ratio = 0.0
        high-space-ratio = 0.0
        resource-score-formula-version = ""
        scheduler-max-waiting-operator = 0
        enable-remove-down-replica = false
        enable-replace-offline-replica = false
        enable-make-up-replica = false
        enable-remove-extra-replica = false
        enable-location-replacement = false
        enable-debug-metrics = false
        enable-joint-consensus = true
        container-limit-mode = ""

    [prophet.replication]
        max-replicas = 1
        strictly-match-label = false
        enable-placement-rules = false
        isolation-level = ""

[metric]
    addr = ""
    interval = 0
    job = ""
    instance = ""

# Storage Configs
[meta.conf]
block-max-rows = 40000
segment-max-blocks = 40

[scheduler-cfg]
block-writers = 8
segment-writers = 4

[cache-cfg]
index-cache-size = 134217728        # 128M
insert-cache-size = 4294967296      # 4G
data-cache-size = 4294967296        # 4G
