# do not change this part {
parameter-struct-name = "SystemVariables"
config-struct-name = "varsConfig"

operation-file-name = "system_vars"

config-file-name = "system_vars_config"
# }

[[parameter]]
name = "rootname"
scope = ["global"]
access = ["file"]
type = "string"
domain-type = "set"
values = ["root"]
comment = "root name"
update-mode = "fix"

[[parameter]]
name = "rootpassword"
scope = ["global"]
access = ["file"]
type = "string"
domain-type = "set"
values = [""]
comment = "root password"
update-mode = "dynamic"

[[parameter]]
name = "dumpuser"
scope = ["global"]
access = ["file"]
type = "string"
domain-type = "set"
values = ["dump"]
comment = "dump user name"
update-mode = "fix"

[[parameter]]
name = "dumppassword"
scope = ["global"]
access = ["file"]
type = "string"
domain-type = "set"
values = ["111"]
comment = "dump user password"
update-mode = "fix"

[[parameter]]
name = "dumpdatabase"
scope = ["global"]
access = ["file"]
type = "string"
domain-type = "set"
values = ["default"]
comment = "dump database name"
update-mode = "dynamic"

[[parameter]]
name = "port"
scope = ["global"]
access = ["file"]
type = "int64"
domain-type = "range"
values = ["6001", "6001", "6010"]
comment = "port defines which port the mo-server listens on and clients connect to"
update-mode = "dynamic"

[[parameter]]
name = "host"
scope = ["global"]
access = ["file"]
type = "string"
domain-type = "set"
values = ["0.0.0.0","localhost","127.0.0.1"]
comment = "listening ip"
update-mode = "dynamic"

[[parameter]]
name = "sendRow"
scope = ["global"]
access = ["file"]
type = "bool"
domain-type = "set"
values = []
comment = "send data row while producing"
update-mode = "dynamic"

[[parameter]]
name = "dumpEnv"
scope = ["global"]
access = ["file"]
type = "bool"
domain-type = "set"
values = []
comment = "dump Environment with memEngine Null nodes for testing"
update-mode = "dynamic"

[[parameter]]
name = "hostMmuLimitation"
scope = ["global"]
access = ["file"]
type = "int64"
domain-type = "set"
values = ["1099511627776"]
comment = "host mmu limitation. default: 1 << 40 = 1099511627776"
update-mode = "dynamic"

[[parameter]]
name = "guestMmuLimitation"
scope = ["global"]
access = ["file"]
type = "int64"
domain-type = "set"
values = ["1099511627776"]
comment = "guest mmu limitation. default: 1 << 40 = 1099511627776"
update-mode = "dynamic"

[[parameter]]
name = "mempoolMaxSize"
scope = ["global"]
access = ["file"]
type = "int64"
domain-type = "set"
values = ["1099511627776"]
comment = "mempool maxsize. default: 1 << 40 = 1099511627776"
update-mode = "dynamic"

[[parameter]]
name = "mempoolFactor"
scope = ["global"]
access = ["file"]
type = "int64"
domain-type = "set"
values = ["8"]
comment = "mempool factor. default: 8"
update-mode = "dynamic"

[[parameter]]
name = "processLimitationSize"
scope = ["global"]
access = ["file"]
type = "int64"
domain-type = "set"
values = ["42949672960"]
comment = "process.Limitation.Size. default: 10 << 32 = 42949672960"
update-mode = "dynamic"

[[parameter]]
name = "processLimitationBatchRows"
scope = ["global"]
access = ["file"]
type = "int64"
domain-type = "set"
values = ["42949672960"]
comment = "process.Limitation.BatchRows. default: 10 << 32 = 42949672960"
update-mode = "dynamic"

[[parameter]]
name = "processLimitationBatchSize"
scope = ["global"]
access = ["file"]
type = "int64"
domain-type = "set"
values = ["0"]
comment = "process.Limitation.BatchSize. default: 0"
update-mode = "dynamic"

[[parameter]]
name = "processLimitationPartitionRows"
scope = ["global"]
access = ["file"]
type = "int64"
domain-type = "set"
values = ["42949672960"]
comment = "process.Limitation.PartitionRows. default: 10 << 32 = 42949672960"
update-mode = "dynamic"

[[parameter]]
name = "countOfRowsPerSendingToClient"
scope = ["global"]
access = ["file"]
type = "int64"
domain-type = "range"
values = ["1000","1","10000"]
comment = "send the count of rows to the client"
update-mode = "dynamic"

[[parameter]]
name = "periodOfEpochTimer"
scope = ["global"]
access = ["file"]
type = "int64"
domain-type = "set"
values = ["5"]
comment = "the period of epoch timer in second"
update-mode = "dynamic"

[[parameter]]
name = "periodOfPersistence"
scope = ["global"]
access = ["file"]
type = "int64"
domain-type = "set"
values = ["20"]
comment = "the period of persistence in second"
update-mode = "dynamic"

[[parameter]]
name = "periodOfDDLDeleteTimer"
scope = ["global"]
access = ["file"]
type = "int64"
domain-type = "set"
values = ["20"]
comment = "the period of the ddl delete in second"
update-mode = "dynamic"

[[parameter]]
name = "timeoutOfHeartbeat"
scope = ["global"]
access = ["file"]
type = "int64"
domain-type = "set"
values = ["20"]
comment = "the timeout of heartbeat in second. In a distributed setting, adjust this setting according to you network status. For poor network connections, set this value larger."
update-mode = "dynamic"

[[parameter]]
name = "rejectWhenHeartbeatFromPDLeaderIsTimeout"
scope = ["global"]
access = ["file"]
type = "bool"
domain-type = "set"
values = ["false"]
comment = "default value is false. the server will reject the connection and sql request when the heartbeat from pdleader is timeout."
update-mode = "dynamic"

[[parameter]]
name = "enableEpochLogging"
scope = ["global"]
access = ["file"]
type = "bool"
domain-type = "set"
values = ["false"]
comment = "default is false. Print logs when the server calls catalog service to run the ddl."
update-mode = "dynamic"

[[parameter]]
name = "recordTimeElapsedOfSqlRequest"
scope = ["global"]
access = ["file"]
type = "bool"
domain-type = "set"
values = ["true"]
comment = "record the time elapsed of executing sql request"
update-mode = "dynamic"

[[parameter]]
name = "nodeID"
scope = ["global"]
access = ["file"]
type = "int64"
domain-type = "range"
values = ["0", "0", "10"]
comment = "the Node ID of the cube. In a distributed setting, each node in a cluster should have a different nodeID."
update-mode = "dynamic"

[[parameter]]
name = "storePath"
scope = ["global"]
access = ["file"]
type = "string"
domain-type = "set"
values = ["./store"]
comment = "the root directory of the storage and matrixcube's data. The actual dir is cubeDirPrefix + nodeID"
update-mode = "dynamic"


[[parameter]]
name = "lengthOfQueryPrinted"
scope = ["global"]
access = ["file"]
type = "int64"
domain-type = "range"
values = ["50", "-1", "10000"]
comment = "the length of query printed into console. -1, complete string. 0, empty string. >0 , length of characters at the header of the string."
update-mode = "dynamic"

[[parameter]]
name = "batchSizeInLoadData"
scope = ["global"]
access = ["file"]
type = "int64"
domain-type = "range"
values = ["40000","10","100000"]
comment = "the count of rows in vector of batch in load data"
update-mode = "dynamic"

[[parameter]]
name = "loadDataConcurrencyCount"
scope = ["global"]
access = ["file"]
type = "int64"
domain-type = "range"
values = ["16","1","16"]
comment = "default is 16. The count of go routine writing batch into the storage."
update-mode = "dynamic"

[[parameter]]
name = "cubeLogLevel"
scope = ["global"]
access = ["file"]
type = "string"
domain-type = "set"
values = ["debug","info","error","warning","warn","fatal"]
comment = "default is debug. The log level for cube."
update-mode = "dynamic"

[[parameter]]
name = "enableProfileGetDataFromPipeline"
scope = ["global"]
access = ["file"]
type = "bool"
domain-type = "set"
values = []
comment = "defult is false. true for profiling the getDataFromPipeline"
update-mode = "dynamic"

[[parameter]]
name = "maxBytesInOutbufToFlush"
scope = ["global"]
access = ["file"]
type = "int64"
domain-type = "range"
values = ["1024","32","3096"]
comment = "KB. When the number of bytes in the outbuffer exceeds the it,the outbuffer will be flushed."
update-mode = "dynamic"

[[parameter]]
name = "cubeMaxEntriesBytes"
scope = ["global"]
access = ["file"]
type = "int64"
domain-type = "set"
values = ["314572800"]
comment = "default is 300MB. The max entries bytes for the write batch in the cube."
update-mode = "dynamic"

# Cluster Configs
pre-allocated-group-num = 20
max-group-num           = 0

# Logger Configs
level = "debug" # debug, info, warn, error, fatal.
format = "json" # json, console.

# log file config
filename = "" # log file.
max-size = 512 # maximum log file size.
max-days = 0 # maximum log file days kept.
max-backups = 0 # maximum numbers of old log files to retain.

# Cube Configs
# In a distributed setting, the ip of addr-raft and addr-client should set to the ip address of the machine that mo-server runs on.
# Docker or NAT network environment configuration,  
# If a client cannot access Cube through the default client URLs listened to by Cube, you must manually set the advertise client URLs
# For exmaple, addr-raft = "0.0.0.0:10000", addr-advertise-raft = "${HOST}:10000". The same to addr-client.
addr-raft = "localhost:10000"
addr-advertise-raft = ""
addr-client = "localhost:20000"
addr-advertise-client = ""
dir-deploy = ""
version = ""
githash = ""
capacity = 0
use-memory-as-storage = false
# In a distributed setting, the shard-groups should set to 2.
shard-groups = 1

# Replication Configs
[replication]
# If pb scheduler doesn't hear from a node for longer than max-peer-down-time, it will ask this node to destroy itself if it comes back.
max-peer-down-time = "30m"
shard-split-check-duration = "30s"
shard-state-check-duration = "1m"
compact-log-check-duration = "60s"
disable-shard-split = false
allow-remove-leader = false
shard-capacity-bytes = "96MB"
shard-split-check-bytes = "64MB"

[snapshot]
max-concurrency-snap-chunks = 8
snap-chunk-size = "4MB"

[raft]
enable-pre-vote = true
# In a distributed setting, adjust this setting according to you network status. For poor network connections, set this value larger.
tick-interval = "1s"
heartbeat-ticks = 2
election-timeout-ticks = 10
max-size-per-msg = 0
max-inflight-msgs = 512
max-entry-bytes = 314572800
send-raft-batch-size = 64
[raft.raft-log]
disable-sync = false
compact-duration = "30s"
compact-threshold = 256
max-allow-transfer-lag = 2
ForceCompactCount = 0
ForceCompactBytes = 0
CompactProtectLag = 0

[worker]
raft-apply-worker = 32
raft-msg-worker = 8
raft-event-worker = 32

# Prophet Configs
[prophet]
# In a distributed setting, there are three nodes act as prophet, each of which should have different names.
name = "node0"
data-dir = ""
# RPC port for other client to access prophet.
# Docker or NAT network  exmaple, rpc-addr = "0.0.0.0:30000", rpc-advertise-addr = "${HOST}:30000"
rpc-addr = "localhost:30000"
rpc-advertise-addr = ""
# In a distributed setting, adjust this setting according to you network status. For poor network connections, set this value larger.
rpc-timeout = "10s"
# In a distributed setting, if a node is not a prophet node(i.e., a pure storage node), set the value storage-node = false.
storage-node = true
# In a distributed setting, if a node is a prophet node, the value external-etcd should be empty.
# If a node is not a prophet node(i.e., the above setting storage-node = false), the value of external-etcd should be the three prophet node's prophet.embed-etcd's peer-urls.
external-etcd = ["", "", ""]
lease = 0

# In a distributed setting, only the three prophet nodes need to adjust this setting
[prophet.embed-etcd]
# For the genesis node in the three prophet, the join value should remain a empty string.
# For the other two nodes in the prophet group, the join value should set to the genesis node's peer-urls.
join = ""
# In a distributed setting, change the localhost to the machine ip to expose the client-urls to other nodes in the cluster.
client-urls = "http://localhost:40000"
# In a distributed setting, change the localhost to the machine ip to expose the client-urls to other nodes in the cluster.
peer-urls = "http://localhost:50000"
# In some situations such as in the Docker or NAT network environment, 
# if a client cannot access prophet through the default client URLs listened to by prophet, you must manually set the advertise client URLs
# For example,client-url = "http://0.0.0.0:40000", advertise-client-urls = "http://${HOST}:40000", The same to peer-urls.
advertise-client-urls = ""
advertise-peer-urls = ""
initial-cluster = ""
initial-cluster-state = ""
tick-interval = "500ms"
election-interval = "3000ms"
enable-prevote = true
auto-compaction-mode = "periodic"
auto-compaction-retention = "1h"
quota-backend-bytes = "8GB"

[prophet.schedule]
max-snapshot-count = 3
max-pending-peer-count = 16
max-merge-resource-size = 0
max-merge-resource-keys = 0
split-merge-interval = "0s"
enable-one-way-merge = false
enable-cross-table-merge = false
patrol-resource-interval = "100ms"
max-container-down-time = "30m"
leader-schedule-limit = 4
leader-schedule-policy = "count"
resource-schedule-limit = 2048
replica-schedule-limit = 64
merge-schedule-limit = 0
hot-resource-schedule-limit = 4
hot-resource-cache-hits-threshold = 3
tolerant-size-ratio = 0.0
low-space-ratio = 0.8
high-space-ratio = 0.7
resource-score-formula-version = ""
scheduler-max-waiting-operator = 5
enable-remove-down-replica = true
enable-replace-offline-replica = true
enable-make-up-replica = true
enable-remove-extra-replica = true
enable-location-replacement = true
enable-debug-metrics = false
enable-joint-consensus = true
container-limit-mode = ""

[prophet.replication]
max-replicas = 1
strictly-match-label = true
enable-placement-rules = true
isolation-level = "rack"

[metric]
addr = ""
interval = 0
job = ""
instance = ""

# Storage Configs
[meta.conf]
block-max-rows = 160000
segment-max-blocks = 40

[scheduler-cfg]
block-writers = 8
segment-writers = 4

[cache-cfg]
index-cache-size = 134217728        # 128M
insert-cache-size = 4294967296      # 4G
data-cache-size = 4294967296        # 4G
