# do not change this part {
parameter-struct-name = "SystemVariables"
config-struct-name = "varsConfig"

operation-file-name = "system_vars"

config-file-name = "system_vars_config"
# }

[[parameter]]
name = "rootname"
scope = ["global"]
access = ["file"]
type = "string"
domain-type = "set"
values = ["root"]
comment = "root name"
update-mode = "fix"

[[parameter]]
name = "rootpassword"
scope = ["global"]
access = ["file"]
type = "string"
domain-type = "set"
values = [""]
comment = "root password"
update-mode = "dynamic"

[[parameter]]
name = "dumpuser"
scope = ["global"]
access = ["file"]
type = "string"
domain-type = "set"
values = ["dump"]
comment = "dump user name"
update-mode = "fix"

[[parameter]]
name = "dumppassword"
scope = ["global"]
access = ["file"]
type = "string"
domain-type = "set"
values = ["111"]
comment = "dump user password"
update-mode = "fix"

[[parameter]]
name = "dumpdatabase"
scope = ["global"]
access = ["file"]
type = "string"
domain-type = "set"
values = ["default"]
comment = "dump database name"
update-mode = "dynamic"

[[parameter]]
name = "port"
scope = ["global"]
access = ["file"]
type = "int64"
domain-type = "range"
values = ["6001", "6001", "6010"]
comment = "port defines which port the mo-server listens on and clients connect to"
update-mode = "dynamic"

[[parameter]]
name = "host"
scope = ["global"]
access = ["file"]
type = "string"
domain-type = "set"
values = ["0.0.0.0","localhost","127.0.0.1"]
comment = "listening ip"
update-mode = "dynamic"

[[parameter]]
name = "hostMmuLimitation"
scope = ["global"]
access = ["file"]
type = "int64"
domain-type = "set"
values = ["1099511627776"]
comment = "host mmu limitation. default: 1 << 40 = 1099511627776"
update-mode = "dynamic"

[[parameter]]
name = "guestMmuLimitation"
scope = ["global"]
access = ["file"]
type = "int64"
domain-type = "set"
values = ["1099511627776"]
comment = "guest mmu limitation. default: 1 << 40 = 1099511627776"
update-mode = "dynamic"

[[parameter]]
name = "mempoolMaxSize"
scope = ["global"]
access = ["file"]
type = "int64"
domain-type = "set"
values = ["1099511627776"]
comment = "mempool maxsize. default: 1 << 40 = 1099511627776"
update-mode = "dynamic"

[[parameter]]
name = "mempoolFactor"
scope = ["global"]
access = ["file"]
type = "int64"
domain-type = "set"
values = ["8"]
comment = "mempool factor. default: 8"
update-mode = "dynamic"

[[parameter]]
name = "processLimitationSize"
scope = ["global"]
access = ["file"]
type = "int64"
domain-type = "set"
values = ["42949672960"]
comment = "process.Limitation.Size. default: 10 << 32 = 42949672960"
update-mode = "dynamic"

[[parameter]]
name = "processLimitationBatchRows"
scope = ["global"]
access = ["file"]
type = "int64"
domain-type = "set"
values = ["42949672960"]
comment = "process.Limitation.BatchRows. default: 10 << 32 = 42949672960"
update-mode = "dynamic"

[[parameter]]
name = "processLimitationBatchSize"
scope = ["global"]
access = ["file"]
type = "int64"
domain-type = "set"
values = ["0"]
comment = "process.Limitation.BatchSize. default: 0"
update-mode = "dynamic"

[[parameter]]
name = "processLimitationPartitionRows"
scope = ["global"]
access = ["file"]
type = "int64"
domain-type = "set"
values = ["42949672960"]
comment = "process.Limitation.PartitionRows. default: 10 << 32 = 42949672960"
update-mode = "dynamic"

[[parameter]]
name = "countOfRowsPerSendingToClient"
scope = ["global"]
access = ["file"]
type = "int64"
domain-type = "range"
values = ["1000","1","10000"]
comment = "send the count of rows to the client"
update-mode = "dynamic"

[[parameter]]
name = "recordTimeElapsedOfSqlRequest"
scope = ["global"]
access = ["file"]
type = "bool"
domain-type = "set"
values = ["true"]
comment = "record the time elapsed of executing sql request"
update-mode = "dynamic"

[[parameter]]
name = "storePath"
scope = ["global"]
access = ["file"]
type = "string"
domain-type = "set"
values = ["./store"]
comment = "the root directory of the storage and matrixcube's data. The actual dir is cubeDirPrefix + nodeID"
update-mode = "dynamic"

[[parameter]]
name = "lengthOfQueryPrinted"
scope = ["global"]
access = ["file"]
type = "int64"
domain-type = "range"
values = ["50", "-1", "10000"]
comment = "the length of query printed into console. -1, complete string. 0, empty string. >0 , length of characters at the header of the string."
update-mode = "dynamic"

[[parameter]]
name = "batchSizeInLoadData"
scope = ["global"]
access = ["file"]
type = "int64"
domain-type = "range"
values = ["40000","10","100000"]
comment = "the count of rows in vector of batch in load data"
update-mode = "dynamic"

[[parameter]]
name = "loadDataConcurrencyCount"
scope = ["global"]
access = ["file"]
type = "int64"
domain-type = "range"
values = ["4","1","16"]
comment = "default is 4. The count of go routine writing batch into the storage."
update-mode = "dynamic"

[[parameter]]
name = "loadDataSkipWritingBatch"
scope = ["global"]
access = ["file"]
type = "bool"
domain-type = "set"
values = []
comment = "default is fase. Skip writing batch into the storage"
update-mode = "dynamic"

[[parameter]]
name = "enableProfileGetDataFromPipeline"
scope = ["global"]
access = ["file"]
type = "bool"
domain-type = "set"
values = []
comment = "defult is false. true for profiling the getDataFromPipeline"
update-mode = "dynamic"

[[parameter]]
name = "maxBytesInOutbufToFlush"
scope = ["global"]
access = ["file"]
type = "int64"
domain-type = "range"
values = ["1024","32","3096"]
comment = "KB. When the number of bytes in the outbuffer exceeds the it,the outbuffer will be flushed."
update-mode = "dynamic"

[[parameter]]
name = "printLogInterVal"
scope = ["global"]
access = ["file"]
type = "int64"
domain-type = "range"
values = ["10", "1", "1000"]
comment = "default printLog Interval is 10s."
update-mode = "dynamic"

[[parameter]]
name = "exportDataDefaultFlushSize"
scope = ["global"]
access = ["file"]
type = "int64"
domain-type = "set"
values = ["1", "2", "4", "8"]
comment = "export data to csv file default flush size"
update-mode = "dynamic"

[[parameter]]
name = "storageEngine"
scope = ["global"]
access = ["file"]
type = "string"
domain-type = "set"
values = ["tae"]
comment = "default engine is 'tae'."
update-mode = "dynamic"

[[parameter]]
name = "portOfRpcServerInComputationEngine"
scope = ["global"]
access = ["file"]
type = "int64"
domain-type = "range"
values = ["20000", "20000", "65535"]
comment = "port defines which port the rpc server listens on"
update-mode = "dynamic"

[[parameter]]
name = "oneTxnPerBatchDuringLoad"
scope = ["global"]
access = ["file"]
type = "bool"
domain-type = "set"
values = ["true"]
comment = "default is false. true : one txn for an independent batch false : only one txn during loading data"
update-mode = "dynamic"

[[parameter]]
name = "statusPort"
scope = ["global"]
access = ["file"]
type = "int64"
domain-type = "range"
values = ["7001", "7001", "7010"]
comment = "statusPort defines which port the mo status server (for metric etc.) listens on and clients connect to"
update-mode = "dynamic"

[[parameter]]
name = "metricToProm"
scope = ["global"]
access = ["file"]
type = "bool"
domain-type = "set"
values = ["true", "false"]
comment = "default is true. if true, metrics can be scraped through host:status/metrics endpoint"
update-mode = "dynamic"

[[parameter]]
name = "enableMetric"
scope = ["global"]
access = ["file"]
type = "bool"
domain-type = "set"
values = ["true", "false"]
comment = "default is true. if true, enable metric at booting"
update-mode = "dynamic"

[[parameter]]
name = "logLevel"
scope = ["global"]
access = ["file"]
type = "string"
domain-type = "set"
values = ["debug", "info", "warn", "error", "fatal"]
comment = "default is 'debug'. the level of log."
update-mode = "dynamic"

[[parameter]]
name = "logFormat"
scope = ["global"]
access = ["file"]
type = "string"
domain-type = "set"
values = ["json", "console"]
comment = "default is 'json'. the format of log."
update-mode = "dynamic"

[[parameter]]
name = "logFilename"
scope = ["global"]
access = ["file"]
type = "string"
domain-type = "set"
values = []
comment = "default is ''. the filename of log file."
update-mode = "dynamic"

[[parameter]]
name = "logMaxSize"
scope = ["global"]
access = ["file"]
type = "int64"
domain-type = "set"
values = ["512"]
comment = "default is 512MB. the maximum of log file size"
update-mode = "dynamic"

[[parameter]]
name = "logMaxDays"
scope = ["global"]
access = ["file"]
type = "int64"
domain-type = "set"
values = ["0"]
comment = "default is 0. the maximum days of log file to be kept"
update-mode = "dynamic"

[[parameter]]
name = "logMaxBackups"
scope = ["global"]
access = ["file"]
type = "int64"
domain-type = "set"
values = ["0"]
comment = "default is 0. the maximum numbers of log file to be retained"
update-mode = "dynamic"