# service node type, [DN|CN|LOG]
service-type = "CN"

[log]
level = "debug"
format = "json"
max-size = 512

[hakeeper-client]
service-addresses = [
    "1",
    "2"
]

[cn]
uuid = "cn1"

[cn.Engine]
type = "tae"

[[fileservice]]
name = 'LOCAL'
backend = 'MEM'

[[fileservice]]
name = 'S3'
backend = 'MEM'

[[fileservice]]
name = "PUBLIC"
backend = "DISK-RAW"
data-dir = "store"
