# Define workflow name.
name: Build MatrixOne

# Controls when the workflow will run.
on:
  pull_request:
    types: [ opened, synchronize, reopened ]
    branches: main
    paths-ignore:
      - 'docs/**'
  workflow_dispatch:




# A workflow run is made up of one or more jobs that can run sequentially or in parallel.
jobs:
  # This workflow contains a single job called "build".
  tae-build:
    # The type of runner that the job will run on.
    runs-on: ubuntu-latest
    name: Build TAE on CentOS/x64

    # Steps represent a sequence of tasks that will be executed as part of the job.
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so the job can access it.
      - uses: actions/checkout@v2
        with:
          fetch-depth: '3'

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.18

      - name: Build MatrixOne
        run: |
          cd $GITHUB_WORKSPACE && make clean && make config && make build
          cat system_vars_config.toml | sed 's/usePlan2 = false/usePlan2 = true/g' | sed 's/storageEngine = "aoe"/storageEngine = "tae"/g' > config.toml
          
      - name: Start MO
        run: |
          cd $GITHUB_WORKSPACE
          ./mo-server ./config.toml &>mo-server.log &
          
      - name: Clone test-tool repository
        uses: actions/checkout@v2
        with:
          repository: matrixorigin/mo-tester
          path: ./mo-tester
          ref: main
  
      - name: Set up JDK 8 for x64
        uses: actions/setup-java@v3
        with:
          java-version: '8'
          distribution: 'adopt'
          architecture: x64

      - name: Start BVT Test
        run: |
          cd $GITHUB_WORKSPACE/mo-tester
          ./run.sh

      - uses: actions/upload-artifact@v2
        if: ${{ always() }}
        continue-on-error: true
        with:
          name: tae_test_reports
          path: |
            ${{ github.workspace }}
          retention-days: 7
  
  aoe-build:
    # The type of runner that the job will run on.
    runs-on: ubuntu-latest
    name: Build AOE on CentOS/x64

    # Steps represent a sequence of tasks that will be executed as part of the job.
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so the job can access it.
      - uses: actions/checkout@v2
        with:
          fetch-depth: '3'

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.18

      - name: Build MatrixOne
        run: |
          cd $GITHUB_WORKSPACE && make clean && make config && make build
          cat system_vars_config.toml | sed 's/usePlan2 = false/usePlan2 = true/g' > config.toml
          
      - name: Start MO
        run: |
          cd $GITHUB_WORKSPACE
          ./mo-server ./config.toml &>mo-server.log &
          
          
      - name: Clone test-tool repository
        uses: actions/checkout@v2
        with:
          repository: matrixorigin/mo-tester
          path: ./mo-tester
          ref: main
  
      - name: Set up JDK 8 for x64
        uses: actions/setup-java@v3
        with:
          java-version: '8'
          distribution: 'adopt'
          architecture: x64

      - name: Start BVT Test
        run: |
          cd $GITHUB_WORKSPACE/mo-tester
          ./run.sh

      - uses: actions/upload-artifact@v2
        if: ${{ always() }}
        continue-on-error: true
        with:
          name: aoe_test_reports
          path: |
            ${{ github.workspace }}
          retention-days: 7
