name: release

on:
  release:
    types: [published]

jobs:
  release:
    uses: matrixorigin/CI/.github/workflows/release.yaml@main
    secrets:
      TOKEN_ACTION: ${{ secrets.TOKEN_ACTION}}
      APPLE_DEVELOPER_CERTIFICATE_P12_BASE64: ${{ secrets.APPLE_DEVELOPER_CERTIFICATE_P12_BASE64}}
      APPLE_DEVELOPER_CERTIFICATE_PASSWORD: ${{ secrets.APPLE_DEVELOPER_CERTIFICATE_PASSWORD}}
      AC_PASSWORD: ${{ secrets.AC_PASSWORD}}
      AC_PROVIDER: ${{ secrets.AC_PROVIDER}}
      
