name: WeWork Robot

# Controls when the workflow will run
on:
  issues:
    types: [closed, assigned, opened]
  schedule:
    - cron: '30 8 * * *'
  issue_comment:
    types: [created]
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel.
jobs:
  wework-robot:
    name: WeWork Robot
    uses: matrixorigin/CI/.github/workflows/robot.yaml@release/1.1-dev
    secrets: inherit